.site-card-border-less-wrapper {
    height: 800px;
}

.card-body {
    top: 150px;
    width: 30%;
    right: 1px;
    margin: 0 auto;
    box-shadow: 0 0 5px 0px #cecece;
    border-radius: 3px;
}

.card-body:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.site-card-border-less-wrapper > .radio-button-size {
    right: 100px;
    size: 180px;
    width: 200px;
}
